.container{
    width: 100%;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.containerHome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
    padding: 10px;
}

.modulePicture{
    width: 500px;
    height: auto;
}