.backgroundPage{
    background-color: #0faaa0;
    opacity: 85%;
    scroll-behavior: smooth;
    height: 100%;
    padding-top: 70px;
}

.CryptoBaraImg{
    float: left;
    width: 400px;
    height:auto;
}

footer{
    display: grid;
    justify-content: center;
    padding: 5px;
    background-color: #03A89E;
    font-size: 10px;
    color: #fff;
    bottom: 0;
    position: relative;
}

.signupFooter{
    font-size: 20px;
    text-align: center;
    font-family: 'Microsoft Sans Serif';
    padding: 10px;
    font-size: 20px;
}

.footer-copyright{
    background-color: #1b817a;
    width: 100%;
    bottom: 0;
}

input[type=submit] {
  background-color: #FF9912;
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 30px;
  border-radius: 80px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 20px;
    padding: 10px;
}

.ModImg{
    max-width: 100%;
}