@import "./GlobalStyleSheet.css";

.backgroundPage{
    background-color: #0faaa0;
    opacity: 85%;
    scroll-behavior: smooth;
    height: 100vh;
    padding-top: 70px;
}

.CryptoBaraImg{
    float: left;
    width: 300px;
    height:auto;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--darkBlue-color);
    font-size: 10px;
    color: var(--white-color);
    bottom: 0;
}

.signupFooter{
    font-size: 20px;
    text-align: center;
    font-family: 'Microsoft Sans Serif';
    padding: 10px;
    font-size: 20px;
}

.footer-copyright{
    background-color: #2e2e2e;
    width: 100%;
}

input[type=submit] {
  background-color: var(--orange-color);
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 30px;
  border-radius: 80px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
